/***** common *****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.white{
    color: white;
}

/**** sezione menù ****/

.menù{
    width: 40px;
    height: calc(100vh - 70px);
    text-align: center;
    background-color: black;
    color: #6d6d6d;
}

.menù .top{
    height: calc(100% - 70px);
}

.menù img{
    width: 25px;
    margin-top: 5px;
}

.menù span,
.menù h1,
.menù .playlist i{
    display: none;
}

.menù .bottom{
    height: 70px;
    background-color: black;
}

.menù .bottom img:first-child{
    width: 15px;
}

.menù .bottom div:last-child img{
    width: 20px;
    border: 1px none #a3a3a3;
    background-color: #a3a3a3;
    border-radius: 50%;
}

.menù div{
    display: block;
}

/**** sezione audio ****/

.audio{
    width: calc(100% - 40px);
    overflow-y: auto;
}

/* .audio, */
.audio .upgrade{
    width: calc(100vw - 40px);
    background-color: #080b12;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.audio .upgrade span{
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    top: 12px;
    right: 5px;
    z-index: 3;
}


.audio main{
    height: calc(100vh - 140px);
    margin-top: 70px;
}

.recently,
.john-doe,
.artisti{
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
}

.musica{
    width: 41vw;
    height: 41vw;
}

/**** sezione footer ****/

body>footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

@media screen and (min-width: 576px){

    /* media menù */
    .menù{
        width: 150px;
        text-align: left;
    }

    .menù span,
    .menù h1,
    .menù .playlist i{
        display: initial;
    }

    .menù span{
        font-size: 12px;
        font-weight: bold;
    }

    .menù .logo img{
        width: 35px;
        vertical-align: top;
    }

    .menù .logo h1{
        line-height: 35px;
    }

    .menù .logo div{
        height: 35px;
        margin-bottom: 25px;
        color: white;
    }

    .menù .home div,
    .menù .autore div{
        line-height: 25px;
        margin-bottom: 5px;
    }

    .menù .home img,
    .menù .autore img{
        vertical-align: middle;
    }

    .menù .home span,
    .menù .autore span{
        line-height: 25px;
    }

    .menù .playlist{
        height: 60%;
        overflow-y: hidden;
    }

    .menù .playlist .lista{
        height: 100%;
        width: 100%;
        overflow: auto;
        display: inline-block;
    }

    .menù .installa img{
        width: 15px;
        vertical-align: top;
    }

    .menù .installa span{
        line-height: 15px;
    }

    .menù .installa div{
        height: 15px;
    }

    .menù .bottom{
        padding-top: 15px;
    }

    .menù .bottom div:first-child{
        border-bottom: 1px solid #a3a3a3;
        width: 90%;
    }


    .menù .playlist i{
        border: 1px solid #a3a3a3;
        background-color: #a3a3a3;
        color: black;
        padding: 5px;
    }

    .menù .playlist div{
        padding: 15px 0;
    }

    .menù .playlist ul li{
        list-style: none;
        padding: 5px 0;
    }

    /* media audio */
    .audio{
        width: calc(100% - 150px);
    }

    .recently{
        width: calc(100vw - 150px);
    }

    .audio .upgrade{
        width: calc(100% - 150px);
    }

    .musica{
        width: 32vw;
        height: 32vw;
    }



}


@media screen and (min-width: 768px){

    .musica{
        width: 19vw;
        height: 19vw;
    }

}



@media screen and (min-width: 1200px){

    .musica{
        width: 14vw;
        height: 14vw;
    }

}



/**** debug ****/

.debug>footer{
    background-color: red;
}

/* .debug .menù{
    background-color: blue;
} */

/* .debug .menù .logo,
.debug .menù .home,
.debug .menù .playlist,
.debug .menù .autore{
    width: 90%;
} */

/* .debug .menù .top{
    background-color: chartreuse;
} */

/* .debug .menù .bottom{
    background-color: chocolate;
    height: 70px;
} */

/* .debug .menù .logo{
    background-color: chocolate;
    height: 70px;
} */

/* .debug .menù .home{
    height: 100px;
    background-color: cornflowerblue;
} */

/* .debug .menù .playlist{
    background-color: crimson;
    height: 200px;
} */
/* 
.debug .menù .bottom{
    background-color: cyan;
} */

/* .debug .audio .upgrade{
    background-color: blueviolet;
} */

/* .debug .audio main{
    background-color: green;
} */

.debug main nav{
    height: 50px;
    background-color: coral;
}

/* .debug .recently,
.debug .john-doe,
.debug .artisti{
    height: 1000px;
} */

.debug .musica{
    background-color: white;
    border: 1px solid black;
}

/* .debug .recently{
    background-color: darkorange;
}

.debug .john-doe{
    background-color: darkgreen;
}

.debug .artisti{
    background-color: deeppink;
} */